body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh; 
}

.photo-section {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF93AB;
}

.photo-section img {
    max-width: 50vw; 
    height: auto;
    object-fit: cover;
}

.info-section {
    overflow: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    position: fixed; 
    top: 10px;
    right: 10px;
    background-color: #FF93AB;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

footer {
    position: fixed; 
    right: 10px;
    bottom: 10px;
    font-size: 10px;
}
